{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="keywords" content="portjolio project ecommerce store Django"
      <meta name="description"
            content="This is a portfolio ecommerce project implemented with Django"/>
      <meta charset="UTF-8"/>
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title>
        {% block title %}
          Store
        {% endblock title %}
      </title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
            crossorigin="anonymous"/>
      <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{% static 'css/base.css' %}"/>
      <link rel="stylesheet"
            href="{% block stylesheet %}{% endblock stylesheet %}"/>
    </head>
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="linkedin" viewBox="0 0 16 16">
      <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
      </symbol>
      <symbol id="github" viewBox="0 0 16 16">
      <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
      </symbol>
    </svg>
    <body>
      <header class="pb-3">
        <nav class="navbar navbar-expand-md navbar-light bg-white border-bottom">
          <div class="container-fluid px-md-4">
            <div class="d-flex w-100 navbar-collapse">
              <a class="navbar-brand d-flex-inline"
                 href="{% url 'catalogue:catalogue_index' %}">
                <svg xmlns="http://www.w3.org/2000/svg"
                     width="36"
                     height="36"
                     fill="currentColor"
                     class="bi bi-asterisk"
                     viewBox="0 0 16 16">
                  <path
                  d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1z" />
                </svg>
              </a>
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle d-none d-md-block fw500"
                     href="#"
                     id="navbarDropdown"
                     role="button"
                     data-bs-toggle="dropdown"
                     aria-expanded="false">
                    Categories
                    <i class="ps-1">
                      <svg xmlns="http://www.w3.org/2000/svg"
                           width="16"
                           height="16"
                           fill="currentColor"
                           class="bi bi-chevron-down"
                           viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                        d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                      </svg>
                    </i>
                  </a>
                  <ul class="dropdown-menu rounded-0 border-0"
                      aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="{% url "catalogue:catalogue_index" %}">All</a>
                    </li>
                    {% for c in categories %}
                      <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                        <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
              <button class="navbar-toggler border-0"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#navbarCollapse"
                      aria-controls="navbarCollapse"
                      aria-expanded="false"
                      aria-label="Toggle navigation">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="22"
                       height="22"
                       fill="currentColor"
                       class="bi bi-list"
                       viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                    d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                  </svg>
                </div>
                <span class="fs15 fw500">Shop</span>
              </button>
              <div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent2">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-reset"
                         href="#"
                         id="navbarDropdown"
                         role="button"
                         data-bs-toggle="dropdown"
                         aria-expanded="false">
                        <div class="small text-muted">
                          Hello,
                          {% if user.is_authenticated %}
                            {{ request.user.name }}
                          {% else %}
                            Login
                          {% endif %}
                        </div>
                        <span class="fs15 fw500">Account & Lists</span>
                      </a>
                      <div class="dropdown-menu rounded-0" aria-labelledby="navbarDropdown">
                        <div class="card border-0">
                          <div class="card-body">
                            <h6 class="card-title">My account</h6>
                            <ul class="list-group list-group-flush dropdown-account-link">
                              {% if user.is_authenticated %}
                                <a href="{% url 'account:dashboard' %}"
                                   class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Account</a>
                                <a href="#"
                                   class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Orders</a>
                                <a href="{% url 'account:logout' %}"
                                   class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Logout</a>
                              {% else %}
                                <a href="{% url 'account:login' %}"
                                   class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Login</a>
                              {% endif %}
                            </ul>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <a type="button"
                 role="button"
                 href="{% url "basket:basket_summary" %}"
                 class="btn btn-outline-secondary border-0 basket-btn">
                {% with total_qty=basket|length %}
                  <div id="basket-qty" class="basket-qty">
                    {% if total_qty > 0 %}
                      {{ total_qty }}
                    {% else %}
                      0
                    {% endif %}
                  </div>
                {% endwith %}
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg"
                       width="22"
                       height="22"
                       fill="currentColor"
                       class="bi bi-cart3"
                       viewBox="0 0 16 16">
                    <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                  </svg>
                </div>
                <span class="fs15 fw500">Basket</span>
              </a>
            </div>
            <div class="d-md-none d-lg-none d-xl-none">
              <div class="collapse navbar-collapse" id="navbarCollapse">
                <h6 class="card-title fw-bold pb-1">Categories</h6>
                <ul class="navbar-nav me-auto mb-1 mb-md-0">
                  <li>
                    <a class="dropdown-item" href="{% url 'catalogue:catalogue_index' %}">All</a>
                  </li>
                  {% for c in categories %}
                    <li {% if category.slug == c.slug %}class="selected"{% endif %}>
                      <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name|title }}</a>
                    </li>
                  {% endfor %}
                </ul>
                <h6 class="card-title fw-bold pb-1">My account</h6>
                <ul class="list-group list-group-flush dropdown-account-link mb-1">
                  {% if user.is_authenticated %}
                    <a href="{% url 'account:dashboard' %}"
                       class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Account</a>
                    <a href="#"
                       class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Orders</a>
                    <a href="{% url 'account:logout' %}"
                       class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Logout</a>
                  {% else %}
                    <a href="{% url 'account:login' %}"
                       class="text-reset small list-group-item p-0 pb-1 border-0 dropdown-account-link">Login</a>
                  {% endif %}
                </ul>
              </div>
            </div>
            <form class="d-flex w-100 d-md-none">
              <input class="form-control me-2"
                     type="search"
                     placeholder="Search products or FAQ"
                     aria-label="Search"/>
              <button class="btn btn-outline-secondary" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </header>
      <main class="pt-5">
        <div id="content">
          {% block content %}
          {% endblock content %}
        </div>
      </main>
      <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
          <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">&copy; 2022 Anton Verevkin</span>
          </div>
          <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
              <a class="text-muted"
                 href="https://github.com/Polydexter"
                 target="_blank">
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#github"/>
                </svg>
              </a>
            </li>
            <li class="ms-3">
              <a class="text-muted"
                 href="https://www.linkedin.com/in/anton-verevkin/"
                 target="_blank">
                <svg class="bi" width="24" height="24">
                  <use xlink:href="#linkedin"/>
                </svg>
              </a>
            </li>
          </ul>
        </footer>
      </div>
    </body>
  </html>
